<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">BoardFriends</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Game Chat
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Game1</a>
          <a class="dropdown-item" href="#">Game2</a>
          <a class="dropdown-item" href="#">Game3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Event Chat
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Event1</a>
          <a class="dropdown-item" href="#">Event2</a>
          <a class="dropdown-item" href="#">Event3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
  </head>
  <style>

  #imageUpload
  {
      display: none;
  }

  #profileImage
  {
      cursor: pointer;
  }


  #profile-container img {
      width: 300px;
      height: 350px;
  }
</style>
  <body>
  <div class="row">
    <div class="col-2 col-sm-1"><br><br/></div>
    <div class="col-6 col-sm-4"><br><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container">
   <image id="profileImage" src="images\propic.png" />
</div>
<input id="imageUpload" type="file"
       name="profile_photo" placeholder="Photo" required="" capture><br/></div>
    <div class="col-6 col-sm-4"><br><iframe src="https://calendar.google.com/calendar/embed?src=jonathan.w.thomas.pr.pa%40gmail.com&ctz=America/New_York" style="border: 0" width="700" height="500" frameborder="0" scrolling="no"></iframe><br/></div>
    <div class="col-6 col-sm-4"><br><br/></div>
    <div class="col-6 col-sm-4"><br><br/></div>
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-6 col-sm-1"></div>
        <div class="col-md-3">
          <div class="well">
            <h4 class="text-black"><span class="label label-danger pull-right"></span>Chat window</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <h4 class="text-black"><span class="label label-success pull-right"></span><br>Games That You Want To Play<br/>
            <br><input type="checkbox" id="myCheck1"> :D&D <br/>
            <br><input type="checkbox" id="myCheck2"> :Magic <br/>
            <br><input type="checkbox" id="myCheck3"> :B@HonTH <br/>
            <br><input type="checkbox" id="myCheck4"> Chess <br/>
            <br><input type="checkbox" id="myCheck5"> Mice&mistics <br/>
            <br><input type="checkbox" id="myCheck6"> Arkom Horror <br/>
            <br><input type="checkbox" id="myCheck7"> Monopoly <br/> </h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <h4 class="text-black"><span class="label label-primary pull-right"></span><br>Games That You Own<br/>
              <br><input type="checkbox" id="myCheck8"> :D&D <br/>
              <br><input type="checkbox" id="myCheck9"> :Magic <br/>
              <br><input type="checkbox" id="myCheck10"> :B@HonTH <br/>
              <br><input type="checkbox" id="myCheck11"> Chess <br/>
              <br><input type="checkbox" id="myCheck12"> Mice&mistics <br/>
              <br><input type="checkbox" id="myCheck13"> Arkom Horror <br/>
              <br><input type="checkbox" id="myCheck14"> Monopoly <br/> </h4>
          </div>
        </div>

      </div><!--/row-->
    </div><!--/col-12-->
  </div><!--/row-->


<script>
  $("#profileImage").click(function(e) {
$("#imageUpload").click();
});

function fasterPreview( uploader ) {
if ( uploader.files && uploader.files[0] ){
      $('#profileImage').attr('src',
         window.URL.createObjectURL(uploader.files[0]) );
}
}

$("#imageUpload").change(function(){
fasterPreview( this );
});
function myFunction() {
    var a = document.getElementById("myCheck1");
    var b = document.getElementById("myCheck2");
    var c = document.getElementById("myCheck3");
    var d = document.getElementById("myCheck4");
    var e = document.getElementById("myCheck5");
    var f = document.getElementById("myCheck6");
    var g = document.getElementById("myCheck7");
    a.checked = true;
    b.checked = true;
    c.checked = true;
    d.checked = true;
    e.checked = true;
    f.checked = true;
    g.checked = true;
}

</script>
</body>
